/lerna-debug.log
/instances/*/*/dist
/instances/*/*/node_modules
/projects/*/*/dist
/projects/*/*/node_modules
/projects/*/api/migrations
/node_modules
/packages/*/dist
/packages/*/node_modules
/mangoweb/admin/webpack-assets.json
