{
  "semi": false,
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "tsconfig.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
