@import "../node_modules/cms-admin/src/index.sass"

$c-dimensionSwitcher-bg: white
.dimensionSwitcher
	&-button
		background: $c-dimensionSwitcher-bg
		border: none
		&::after
			content: ''
			display: inline-block
			border: 1em transparent
			border-top-color: currentColor

.inputBox
	background: white
	margin-bottom: 10px
	padding: 5px 10px
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04)
	&-header
		margin: -5px -10px 0 -10px
		padding: 10px
		border-bottom: 1px solid #f8f8f8
		margin-bottom: 10px
		h2
			font-size: 1.2em
			color: #777
			margin: 5px 0

	&-row
		display: flex
		flex-direction: column
		> *
			flex: 1 1 auto
			margin-left: 5px
			&:first-child
				margin-left: 0
