.hranipex-logo
	fill: var(--navbar-color)
	width: 353px
	height: 34px
	vertical-align: middle

.layout-navbar
	border-bottom: 0.0625rem solid #DCDCDC
.layout-content-in
	max-width: unset
\:root
	--navbar-color: #ee3124
	--brand-accent-color: #fff
	--side-background-color: #FFF


.sideDimensions-dimension
	max-width: 50rem
